<div class="center">
<h2>Account Recovery</h2>
<br>
</div>
<div *ngIf="!inputtedUsername">

<mat-card class="assessTest" style="background-color: rgb(244, 254, 255);">
  <mat-card-title>
          <h4 class="cardtitle">
            Please enter your username to have your password reset.
          </h4>
  </mat-card-title>
  <hr>
  <br>
    <div class="container centerme">
      <div class="row">
      <div class="col-2 moveright">
          <label class="movetop bluelabel">Username</label>          
      </div>
      <div class="md-form form-sm col-9">       
        <input mdbActive type="text" class="form-control" id="inputUsername" (keyup.enter)="SendEmail(username.value, successModal)" #username required>
        <label for="inputUsername" class="smallmove">Username</label>
      </div> 
    </div>
    </div>
  <div *ngIf="badUsername" class="dangeralrt">
    <p class="failureMessage">This username does not exist, please enter a valid username. </p>
  </div>
  <div *ngIf="alreadySent" class="dangeralrt">
      <p class="failureMessage">A password reset request has already been sent for this account. Please check your email 
        for instructions to reset the account. If you did not receive an email, please contact the system administrator. 
      </p>
  </div>
  <br>
  <hr>
  <mat-card-actions align="end">
    <button class="btn btn-sm btn-primary" (click)="SendEmail(username.value, successModal)">Reset</button>
    <button class="btn btn-sm btn-secondary mover" [routerLink]="['../']">Cancel</button>
  </mat-card-actions>
</mat-card>
</div>

<ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Success!</h3>
    </div>
    <div class="modal-body">
        Hello {{username}}, a password reset request has been sent to the system admin. Once your request has been confirmed, you will
        recieve an email that outlines the steps to recover your account.
    </div>
    <div class="modal-footer">
      <button type="button" [routerLink]="['../../welcome']" class="btn btn-primary btn-med" (click)="c('Close click')">OK</button>          
    </div>
</ng-template>

<button style="display: none" type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()" mdbRippleRadius>
  Small modal
</button>

<div  mdbModal #demoBasic="mdb-modal" class="modal fade mymodal" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg mymodal" role="document">
      <div class="modal-content mymodal">
          <div class="modal-header mymodal">
              <img class="rounded mx-auto d-block" src="./assets/images/Unauthorized.PNG" alt="Unauthorized" height="50px" width="50px">              
              <h4 class="modal-title w-100" id="myModalLabel">&nbsp; Unauthorized Access</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body mymodal">
            You do not have permission to access this content. Please contact the system admin if you believe this to be incorrect.
          </div>
          <div class="modal-footer mymodal">           
              <button type="button" class="btn btn-secondary btn-md waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbRippleRadius>Close</button>
          </div>
      </div>
  </div>
</div>