.btns {
    float: right;
}

.assessTest {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.moveright {
    margin-right: 15px;
}

.movetop {
    position: relative;
    top: 10px;
}

.center {
    text-align: center;
    padding-top: 2rem;
    color: #0275d8;
}

.smallmove{
    margin-left: 1em; 
}

.mover {
    margin-right: 5%;
    margin-left: 1%; 
}

.succmessage {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.centerme {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.failureMessage {
    color: red;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
}

.dangeralrt {
    height: 44px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}


.usandpass {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
}

.cardtitle {
    text-align: center;
    color: #0275d8;
}

.mymodal {
    overflow-x: hidden;
    overflow-y: auto;
}

div > h4 {
    vertical-align: middle;
}

.bluelabel {
    color: #0275d8;    
}

