.mover {
    margin-right: 5%;
    margin-left: 1%; 
}

.assessTest {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0; 
}

.center {
    text-align: center;
    padding-top: 2rem;
    color: #0275d8;
}

.smallmove {
    margin-left: 1em; 
}


