<div class='jumbotron' style="background-color: #e5f5ff;">
  <div class="container">
    <div class="row">
        <div class="col">
            <img src="./assets/images/stephanie.jpg" width="250" height="400" alt="" title="Stephanie Marcotte" class="img-responsive wp-image-12008 hoverZoomLink" srcset="./assets/images/stephanie.jpg 200w, ./assets/images/stephanie.jpg 400w, ./assets/images/stephanie.jpg 600w, ./assets/images/stephanie.jpg 800w, ./assets/images/stephanie.jpg 1200w" sizes="(max-width: 800px) 100vw, 1100px">
        </div>
        <div class="col-9 pic-content">
            <h1 class='display-4 title'>Who Am I?</h1>
            <hr class='my-4'>
            <p>
                As a physiotherapist, Stephanie Marcotte has dedicated herself to helping others discover a
                pain-free life by tapping into the power of their own body. Now, to help reach more people,
                Stephanie has developed a unique online platform that allows her to share her expertise in a
                convenient, effective, and personalized way.<br><br>
                
                With over three decades of professional experience, Stephanie inspires her clients to move towards
                a better life, giving them the tools they need to feel better. Stephanie has studied and
                observed thousands of bodies in injury and pain over the years. When in pain, whether physical
                or emotional - we stop moving. The body bears the burdens in life, both mentally
                and physically.<br><br>
                
                A keen observer of how the human body moves and works as a whole, Stephanie is dedicated to
                helping others discover the ease of living a pain-free life. 
        </div>
    </div>
  </div>
</div>
<div class='container'>
  <h1 class='display-6 title'>What I Believe</h1><br>
  <div class='row'>
    <div class='col-4'>
      <ul class='list-group list-group-flush' id='believe'>
        <li class='list-group-item'>I believe movement is life</li>
        <li class='list-group-item'>I believe you can heal your body with functional movement patterns</li>
        <li class='list-group-item'>I believe it is never to late to create change in a body it can happen fast</li>
        <li class='list-group-item'>I believe your body knows what it needs</li>
        <li class='list-group-item'>I believe every system in your body relies on a functional musculoskeletalsystem</li>
        <li class='list-group-item'>I believe you need to trust yourself</li>
        <li class='list-group-item'>I believe you need to take responsibility for your present state of health</li>
        <li class='list-group-item'>I believe you can become free of your pain</li>
      </ul>
    </div>
    <div class='col-8'>
    <div class='card'>
      <h3 class='card-header title'>All systems in the body work on movement:</h3>
      <div class='card-body'>
        <ul class='list-group'>
          <li class='list-group-item'>The Heart Beats</li>
          <li class='list-group-item'>The Lungs Breath</li>
          <li class='list-group-item'>The Stomach Grinds</li>
          <li class='list-group-item'>The Colon Transports</li>
          <li class='list-group-item'>The Blood Flows</li>
          <li class='list-group-item'>The Nerves Conduct</li>
          <li class='list-group-item'>The Muscles Contract</li>
          <li class='list-group-item list-msg'>
            Disease in the body begins when movement is impaired. Restore your proper design for movement and your
            pain will cease. No fancy machinery or magic pills required; your body already has everything it needs
            to heal.
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>


<div class='jumbotron' id='simple'>
  <div class='container'>
    <h2 class='display-10 title'>Her treatment method is simple: A little way with a little movement.</h2>
    <hr class='my-4'>
    <p>
        By utilizing movement from within your own body, Stephanie will help you return to a state of
        well-being. Her custom-tailored work, which uses simple movement patterns without any force,
        reminds your body of its proper design function.<br><br>
        
        Once you start moving again, you’ll be inspired to keep going.<br><br>
        
        A leader in the self-care movement, Stephanie’s expertise in the field of pain relief will give you
        the knowledge and confidence you need to step into a better life.<br><br>
        
        Through individualized consultation sessions, Stephanie works alongside you to help you
        achieve your best health. She believes that your body knows how to heal itself and that you already
        have everything you need to feel better about your body and your life.<br><br>
        
        A little way with a little movement really will help you enjoy a life you never thought possible.<br><br>
  
        Discover how Stephanie can help you today!
    </p>
  </div>
</div>


<div class='container' id='benefit'>
    <h1 class='display-6 title'>Who Can Benefit</h1>
    <h5 class='display-12'>
      There is growing evidence of the benefits of online treatment for musculoskeletal injuries...<br>
      Anyone who is experiencing pain related to the muscles & joints of the body
    </h5>
    <h5 class='display-14 title'>You may be suffering from:</h5>
  <div class='row'>
    <div class='col'>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item mid-page'>Low Back Pain</li>
        <li class='list-group-item mid-page'>Headaches / Migraines</li>
        <li class='list-group-item mid-page'>Rotator Cuff Tendonitis</li>
        <li class='list-group-item mid-page'>Hip Pain</li>
        <li class='list-group-item mid-page'>Knee Pain</li>
        <li class='list-group-item mid-page'>Overuse Injuries</li>
        <li class='list-group-item mid-page'>Sciatic</li>
      </ul>
    </div>
    <div class='col'>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item mid-page'>Neck Pain</li>
        <li class='list-group-item mid-page'>Shoulder / Arm Pain</li>
        <li class='list-group-item mid-page'>Elbow Tendonitis</li>
        <li class='list-group-item mid-page'>Radiating Arm Pain</li>
        <li class='list-group-item mid-page'>Foot & Ankle</li>
        <li class='list-group-item mid-page'>Bunions</li>
        <li class='list-group-item mid-page'>Chronic Pain</li>
      </ul>
    </div>
  </div>
  <div class='row justify-content-center list-last'>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item mid-page'>Degenerative Arthritis</li>
    </ul>
  </div>
  <div class='row'>
    <p class='disclaimer'>
      At Self Start Physio, if after assessing your condition & I feel you are not suitable for treatment, I will advise you and provide other options for you.
    </p>
  </div>
</div>
<br>
<br>
