<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" style="background-color: #0275d8;">
            <mat-nav-list style="top: -10px;">
                    <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../home']">
                        <div class="row form-inline">
                            <div class="col-2">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-th-large"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                  Dashboard
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../exercises']">
                        <div class="row form-inline">
                            <div class="col-2">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-id-card"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style="margin-left: 3px; color:white;">
                                    Exercise Menu
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']"  [routerLink]="['../bookappointment']">
                        <div class="row form-inline">
                            <div class="col-2">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-calendar"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style=" color:white;">
                                    Book Appointment
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']"  [routerLink]="['../completetest']">
                        <div class="row form-inline">
                            <div class="col-1">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-wpforms"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    Complete Assessment
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']"  [routerLink]="['../transactions']">
                        <div class="row form-inline">
                            <div class="col-2">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-shopping-cart"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                  Transactions
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../settings']">
                        <div class="row form-inline">
                            <div class="col-2">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                    <i class="fa fa-wrench"></i>
                                </h5>      
                            </div>
                            <div class="col">
                                <h5 class="btn-block" style="text-align: center; color:white;">
                                  Settings
                                </h5>
                            </div>
                        </div>
                    </mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                    <mat-list-item [routerLinkActive]="['active']">
                      <div class="row form-inline">
                          <div class="col-2">
                              <h5 class="btn-block" style="text-align: center; color:white;">
                                  <i class="fa fa-bars"></i>
                              </h5>      
                          </div>
                          <div class="col">
                              <h5 class="btn-block" style="text-align: center; color:white;">
                                Resources
                              </h5>
                          </div>
                      </div>
                  </mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="background-color: #F5F5F5;" class="jumbotron container-fluid">
                <br>
                <div style="margin-top: -10px;">
                    <h3 *ngIf="client" class="title" style="color: #0275d8">
                        Good {{ timeOfDay }}<a *ngIf="client">, {{ client?.givenName }}.</a>
                    </h3>
                    <p class="quote">
                        This page is under construction.
                    </p>
                </div>
            </div>

            <div style="min-height: 100vh;">
                <mat-card class="col-11 page">
                    <div>
                        <br>
                        <div style="text-align: center">
                          I'm empty right now, check back later.
                          <br>
                          <br>
                          <img style="margin-left: auto; margin-right: auto;" src="./assets/images/confusedparrot.gif">
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-sidenav-content>
</mat-sidenav-container>