<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" style="background-color: #0275d8;">
        <mat-nav-list style="top: -10px;">
            <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../home']">
              <div class="row form-inline">
                  <div class="col-2">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-th-large"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                        Dashboard
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../exercises']">
              <div class="row form-inline">
                  <div class="col-2">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-id-card"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style="margin-left: 3px; color:white;">
                          Exercise Menu
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']"  [routerLink]="['../bookappointment']">
              <div class="row form-inline">
                  <div class="col-2">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-calendar"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style=" color:white;">
                          Book Appointment
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']">
              <div class="row form-inline">
                  <div class="col-1">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-wpforms"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          Complete Assessment
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../transactions']">
              <div class="row form-inline">
                  <div class="col-2">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-shopping-cart"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                        Transactions
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../settings']">
              <div class="row form-inline">
                  <div class="col-2">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                          <i class="fa fa-wrench"></i>
                      </h5>      
                  </div>
                  <div class="col">
                      <h5 class="btn-block" style="text-align: center; color:white;">
                        Settings
                      </h5>
                  </div>
              </div>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" [routerLink]="['../resources']">
            <div class="row form-inline">
                <div class="col-2">
                    <h5 class="btn-block" style="text-align: center; color:white;">
                        <i class="fa fa-bars"></i>
                    </h5>      
                </div>
                <div class="col">
                    <h5 class="btn-block" style="text-align: center; color:white;">
                      Resources
                    </h5>
                </div>
            </div>
        </mat-list-item>
        <br>
        <mat-divider class="dividers"></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="background-color: #F5F5F5;" class="jumbotron container-fluid">
            <br>
            <div style="margin-top: -10px;">
                <h3 *ngIf="client" class="title" style="color: #0275d8">
                    Good {{ timeOfDay }}<a *ngIf="client">, {{ client?.givenName }}.</a>
                 </h3>
                 <p *ngIf="assessmentTest" class="quote myp">
                   Looks like you've got a test to complete, please fill out the following...
                 </p>
                 <p *ngIf="!assessmentTest" class="quote myp">
                    You've not been assigned an assessment test, check back soon!
                 </p>
            </div>
          </div>
      <mat-card style="min-height: 100vh;" class="col-11 page">
            <br>
            <mat-card *ngIf="currTest" class="assessTest">
              <mat-card-title>
              <p><b>Name: </b> <span>{{currTest?.name}}</span></p>
            </mat-card-title>
            <mat-card-subtitle>
              <p><b>Description: </b> <span>{{currTest?.description}} </span></p>
            </mat-card-subtitle>
              <hr>
              <mat-card-content>
              <div *ngFor="let q of assessmentTestQuestions; let i = index">
                <div *ngIf="q.questionCode == 'SA'">
                  <p><b>{{i + 1}}) {{q?.questionText}}</b></p>
                  <label>Response:</label>
                  <textarea ngModel class="form-control myta" style="width: 75%" placeholder="Your response..." rows="5" id="question{{i}}"></textarea>                      
                </div>
                <div *ngIf="q.questionCode == 'MC'">
                  <p><b>{{i + 1}}) {{q?.questionText}}</b></p>
                  <br>
                  <mat-radio-group id="question{{i}}">
                      <div *ngFor="let qcontent of q.questionContent; let j = index" class="form-group row-inline mcchoices">
                          <!-- <label for="{{option}}" class="col-form-label mctext">{{NumToChar(j)}})</label> -->
                          <mat-radio-button class="mcchoices" value="{{qcontent}}" id="question{{i}}{{j}}" (click)="RadioButtonClicked(qcontent, i)">{{qcontent}}</mat-radio-button>
                      </div>
                  </mat-radio-group>
                </div>
                <br>
                <div *ngIf="q.questionCode == 'RA'">
                  <p><b>{{i + 1}}) {{q.questionText}}</b></p>    
                  <!-- <ngb-rating [(rate)]="currentRate" id="question{{i}}" class="ratingstars">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" (click)="SendBack(index, i)">&#9733;</span>
                      </ng-template>
                  </ngb-rating>  -->
                  <p>Selected Value: {{value[i]}}</p>              
                  <mat-slider
                  class="example-margin myTa"
                  [max]="10"
                  [min]="1"
                  [(ngModel)]="value[i]"
                  (change)="SendBack(i)"
                  [step]="1">
              </mat-slider>
              <br>
                </div>
              </div>
            
              <ng-template #confirm let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Please Confirm Action</h4>
                  </div>
                  <div class="modal-body">
                    <p>Please confirm whether you would like to submit your response for assessment test <b> {{assessmentTest.name}}</b>. Once this assessment test has been
                      submitted, this action cannot be undone.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-med" [routerLink]="['../home']" (click)="SubmitAnswers(); c('Close click')">OK</button>     
                    <button type="button" class="btn btn-secondary btn-med" (click)="c('Close click')">Cancel</button>   
                  </div>
              </ng-template>
              <button class="btn btn-sm btn-primary" (click)="Open(confirm)">Submit</button>
            </mat-card-content>
            </mat-card>
      </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>