<div class="view overlay">
<img src='./assets/images/p1.jpg' class='home-pic img-fluid' alt="">
    <div class="mask flex-center align-items-end">
        <p class="white-text scroll-text"><i class="fa fa-angle-double-down"></i></p>
    </div>
</div>


<div class='jumbotron' style="background-color: #e5f5ff;">
    <div class="container">
        <h1 class='display-4 title'>Self Start Body Smart</h1>
        <p class='lead'>
            How would you like to understand how the body works, why you experience pain in the body and help lead you towards a more enjoyable pain free life?

            Unfortunately, so many people simply don’t understand how the body works. This leaves them feeling helpless when it comes to treating the pain they experience in their body.
    
            How would you like to live pain-free so that you can get back to doing what you love most?
    
            As a physiotherapist for over three decades, I can help.
        </p>
        <hr class='my-4'>
        <p>
            My name is Stephanie Marcotte & I have helped thousands of people free themselves from the pain and suffering caused by issues and imbalances with the musculoskeletal system.
        
            Your musculoskeletal system is what allows you to move. When it is working properly, you not only move better, but you move without pain, too. But, when you have injured or strained this system, you experience pain.
        </p>
        <p class='lead center-align'>
            <a class="btn btn-primary btn-lg" [routerLink]="['../signup']">Register Now</a>
        </p>
    </div>
</div>

<div class="container">
    <h1 class='title'>A Painless Day is Only One Click Away</h1>
    <div class="row">
        <div class="col-lg col-md col-sm">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Muscle Strains</li>
                <li class="list-group-item">Sprains</li>
                <li class="list-group-item">Fractures</li>
                <li class="list-group-item">Ligament Injuries</li>
                <li class="list-group-item">Sports Injuries</li>
                <li class="list-group-item">Acute Pain</li>
                <li class="list-group-item">Chronic Pain</li>
                <li class="list-group-item">Post-Injury Pain</li>
                <li class="list-group-item">Post-Surgical Pain</li>
            </ul>
        </div>
        <div class="col-lg col-md col-sm">
            <p>
                While there are plenty of options when it comes to relieving pain with external treatments (like drugs, braces, supports, exercises, etc.), they don’t always get to the root of your problem:<br><br>

                Your musculoskeletal system.<br><br>
                
                
                I can help you find and understand the source of your pain based on your musculoskeletal system. The same system that creates the pain in your body, can help you recover from your pain. The solution to your pain actually lies within your own body.
                
                I know it sounds simple, it is.<br><br>
                
                What if you could do something to help yourself? What if you understood what your body was communicating and thus could make lasting change. Changes that would help you move better into your latter years.
                
                I can show you how to tap into your body’s intuitive knowledge, helping you to better understand the actual source of your pain, so that you can fully recover from it.
                
                It is no longer appropriate to just label pain without actually fixing it. You deserve better than that!<br><br>
                
                By learning how to effectively work with your body, you can create lasting changes, ones that will stay with you for the rest of your life. It all starts with creating proper design function in your body. Despite what you hear, the body is in no way, shape, or form weak, frail, or compromised.
                
                In fact, your body is intelligent, adaptive, and fully capable of healing itself!<br><br>
                
                Your body is an entire unit. You can’t do something to one part of it without causing repercussions to the body as a whole. That’s why, when you experience pain, you are actually experiencing a dysfunction in your entire system.
            </p>
        </div>
    </div>
</div>

<div class='jumbotron'>
    <div class="container">
        <h1 class='display-6 title'>Two amazing observations I have made in the clinic over the years...</h1>
        <p class='lead'>
            <ol>
                <li>It is never too late to start making lasting changes in your body. Age is no boundary, it is just a number.</li>
                <li>The body is way more resilient and responsive to change than you ever thought possible.</li>
            </ol>
        <hr class='my-4'>
        <h3 class='display-8 title'>What are you waiting for?</h3>
        <p>
            Do you want to age gracefully, keeping your body in optimal health and avoiding the myriad of problems associated with getting older?

            As your personal pain relief specialist, I can help you discover the beautiful possibility of living life pain free, no matter your age!
    
            Together we can re-awaken your body’s natural ability to move, overcoming years (even decades) of misuse, disuse, stress, and trauma. Don’t just live longer, live better.

            Let’s get started now!

        </p>
        <h5 class='display-12'>Stephanie Marcotte</h5>
    </div>
</div>
<br>
