

.inputGroup {
    margin: 2rem;
}

.slightright {
    margin-left: 15px;
}

.mydropdown {
    display: block;
    height: 40px;
    width: 100%;
    padding: .5rem, .75rem;
    padding-left: .5rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #ffffff;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    cursor: pointer;
}

.toemail {
    margin: .5rem, .75rem;
    margin-left: 1rem;
}

.myta{
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 1.25rem;
    
}

.tobody {
    margin-left: 1rem;
}

.invalInput {
    color: red;
    font-size: 12px;
}

.hintText {
    font-size: 12px;
    margin-left: 45px;
}

.smallText {
    font-size: 12px;
}

.stepperbtn {
    margin-top: 25px;
}

.instepbtn {
    margin-top: 15px;
    cursor: pointer;
}

.dvder {
    float:left;
    width:75%;    
}

.mylength {
    width: 15rem;
}

h1 {
    color: #0275d8;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: Helvetica, sans-serif, Arial;
}

h4 {
    margin-left: 2.5rem;
    font-family: Helvetica, sans-serif, Arial;
}

 .mat-input-underline {
    display: none;
  }

  .dateinput {
      display: inline;
  }

  .dontshow {
      visibility: hidden;
      width: 1px;
  }

.inl {
    display: inline;
}

.hddn {
    display: none;
    
}

.smallmove{
    margin-left: 45px;
}

.moveleft {
    margin-left: 0em;
}

.movetop {
    position: relative;
    top: 10px;
}

.movebar {
    margin-left: 25px;
}