<br><br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">1</h1>
        </div>
        <div class='content'>
            <p><br>Create user name and login<br></p>
        </div>
    </div>
    <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">2</h1>
        </div>
        <div class='content'>
            <p><br>Choose a payment package<br></p>
        </div>
    </div>
    <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">3</h1>
        </div>
        <div class='content'>
            <p>After a successful login: submit an initial assessment form, upload a posture photo, submit an outcome measure form</p>
        </div>
    </div>
  <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">4</h1>
        </div>
        <div class='content'>
            <p>Book an appointment by emailing your preferences (or book online)</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">5</h1>
        </div>
        <div class='content'>
            <p>You will receive an email confirming you appointment & instructions for our video conference together</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card indigo text-center z-depth-2 title-blue">
            <h1 class="num-title">6</h1>
        </div>
        <div class='content'>
            <p>After your assessment, you will have your movement sequence placed in your account so you can review daily.</p>
        </div>
    </div>
  </div>
</div>

<div class='jumbotron' style="background-color: #e5f5ff;">
    <div class='container'>
        <h1 class='display-4 title'>Online Therapy</h1>
        <p>
            The initial therapy session is a 90-minute video conference. Prior to our video conference, I will
            ask you to complete an initial intake form, submit posture photos and perform a simple
            movement assessment. The initial intake form will ask you questions about your current
            condition. The posture photos are simply four photos of yourself from head to toe and the
            movement assessment is a simple series of movements done in standing and sitting.<br><br>
            
            During the consultation we will review your therapy goals, discuss your condition in greater
            detail, and perform some simple movements. I will help you understand your condition and
            provide a movement sequence that will help alleviate pain. After consultation, a movement
            sequence will be uploaded to your account, where you can view your sequence at any time.
            Ideally, you will perform your movement sequence once daily. The sequence will be
            approximately 20-30 minutes in duration.<br><br>
            
            Follow up sessions are approximately 45 minutes in length and could be scheduled weekly for
            the first 3 weeks. After that point, you may schedule every 2-3 weeks. Learning how to
            perform the movement sequence correctly is essential. The movements are easy and inherent
            to your bodies’ natural design. The sessions will help you understand why you are performing
            a particular sequence of movement.<br><br>
            
            The number of sessions that are required varies from individual to individual. On average, 3
            sessions as a minimum and up to 8 sessions. You are are in control of how frequent you wish
            to schedule your followup appointments.<br><br>
            
            If you have any further questions, please feel free to contact me via email. 
        </p>
        <h5 class='display-12'>Thanks,</h5>
        <h5 class='display-12 title'>Stephanie</h5>
    </div>
</div>
<br>
