<div class='container'>
    <h1 class='display-4 title'>Services</h1>
</div>

<div class='container'>
    <div class='row justify-content-center'>
        <mat-card class="col-3" style="background-color: #e5f8ff; color: #0275d8;">
          <mat-card-title class='service-title'>
              <b>Assessment Package</b>
          </mat-card-title>
          <mat-divider></mat-divider>
          <div class="col">
                <mat-card-subtitle>
                  <mat-list><br>
                    <mat-list-item class="row align-items-center">
                            Initial consult via email & video conference
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            3 further online sessions via email & or video conference
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            Personal online account Therapy Plan - accessed on your account
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            Education, Advice
                    </mat-list-item>
                    <mat-list-item class="row align-items-center">
                            <h5 class='price'>Price: $150</h5>
                    </mat-list-item>
                  </mat-list>
                </mat-card-subtitle>
                <mat-card-footer>
                    <div class='sign-up'>
                        <button type="button" class="btn btn-primary waves-effect" [routerLink]="['../signup']">Sign up</button>
                    </div>
                </mat-card-footer>
          </div>
        </mat-card>
        <mat-card class="col-3" style="background-color: #e0f7fa; color: #0275d8;">
          <mat-card-title class='service-title'>
              <b>Assessment + 3 Sessions</b>
          </mat-card-title>
          <mat-divider></mat-divider>
          <div class="col">
                <mat-card-subtitle>
                  <mat-list><br>
                    <mat-list-item class="row align-items-center">
                          Initial consult via email & video conference
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            3 further online sessions via email & or video conference
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            Personal online account Therapy Plan - accessed on your account
                    </mat-list-item>
                    <br>
                    <mat-list-item class="row align-items-center">
                            Education, Advice
                    </mat-list-item>
                    <mat-list-item class="row align-items-center">
                            <h5 class='price'>Price: $350</h5>
                    </mat-list-item>
                  </mat-list>
                </mat-card-subtitle>
                <mat-card-footer>
                    <div class='sign-up'>
                        <button type="button" class="btn btn-primary waves-effect" [routerLink]="['../signup']">Sign up</button>
                    </div>
                </mat-card-footer>
          </div>
    </mat-card>
    <mat-card class="col-3" style="background-color: #e0f2f1; color: #0275d8;">
      <mat-card-title class='service-title'>
          <b>Assessment + 6 Sessions</b>
      </mat-card-title>
      <mat-divider></mat-divider>
      <div class="col">
            <mat-card-subtitle>
              <mat-list><br>
                <mat-list-item class="row">
                  Initial consult via email & video conference
                </mat-list-item>
                <br>
                <mat-list-item class="row align-items-center">
                        6 further online sessions via email & or video conference
                </mat-list-item>
                <br>
                <mat-list-item class="row align-items-center">
                        Personal online account Therapy Plan - accessed on your account
                </mat-list-item>
                <br>
                <mat-list-item class="row align-items-center">
                        Education, Advice
                </mat-list-item>
                <mat-list-item class="row align-items-center">
                        <h5 class='price'>Price: $550</h5>
                </mat-list-item>
              </mat-list>
            </mat-card-subtitle>
            <mat-card-footer>
                <div class='sign-up'>
                    <button type="button" class="btn btn-primary waves-effect" [routerLink]="['../signup']">Sign up</button>
                </div>
            </mat-card-footer>
      </div>
    </mat-card>
    </div>
</div>


<div style="margin-left: auto; margin-right: auto; text-align:center;" class="row col-6 align-items-center below">
    <mat-card class="col" style="background-color: #eeeeee; color: #0275d8;" >
        <div class="row">
          <div class="col">
              <mat-card-title class="col">
                  <b>Single Follow-up Session</b>
                </mat-card-title>
                <mat-card-subtitle class="col">
                  <b>(Within 3 months of Initial Consultation)</b>
                </mat-card-subtitle>
          </div>
          <mat-card-actions class="row justify-content-center col-4" align='end' id='follow-up'>
              <button type='button' class="col btn btn-block btn-primary disabled">
                  <h5>$75</h5>
              </button>
          </mat-card-actions>
        </div>
    </mat-card>
</div>

